h1 {
  padding-top: 150px ;
  margin-bottom: 50px;
  padding-right: 120px;
  text-align: center;
  flex-wrap: wrap;
  animation: blinker 6s linear infinite;
  
}

.grid {
  
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
  width: 610px;
  align-content: center;
}

td{
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.square {
  

  font-size: 80px;

  height: 200px;
  width: 200px;
  border: none;
 
}

.square:hover{
  cursor: pointer;
}

div {
  font-family: 'Courier New', Courier, monospace;
}

button {
  border: none;
  flex-wrap: wrap;
  background-color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;

}

button:hover{
  cursor: pointer;
}